#server port setting
server:
   port: 8010
#eureka setting
eureka:
   client:
      serviceUrl:
         defaultZone: http://192.168.1.23:8001/eureka/
#spring setting
spring:
#application name setting
   application:
      name: rrtf-user
#datasource setting
   datasource:
      driver-class-name: com.mysql.jdbc.Driver
      url: jdbc:mysql://localhost:3306/tuofu?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=true
      username: root
      password: root
#jpa setting
   jpa:
      properties:
         hibernate:
            hbm2ddl:
               auto: update
            dialect: org.hibernate.dialect.MySQL5InnoDBDialect
      database: mysql
      show-sql: true
      format_sql: true
      hibernate:
         ddl-auto: update
         naming:
            strategy: org.hibernate.cfg.DefaultComponentSafeNamingStrategy
#thymeleaf setting///rrtf-user/src/main/resources/static/tuoFu/forget-password/index.html
   thymeleaf:
      prefix: classpath:/static/tuoFu/
      suffix: .html
      mode: LEGACYHTML5
      encoding: UTF-8
      content-type: text/html
      cache: false
#file upload setting
   http:
      multipart:
         enabled: true
         file-size-threshold: 0
         max-file-size: 5MB
         max-request-size: 10MB
#redis setting
   redis:
      database: 0
      host: 192.168.1.12
      port: 6379
      password: null
      lettuce:
         pool:
            maxActive: 8
            maxWait: -1
            maxIdle: 8
            minIdle: 0
#mail setting
   mail:
      host: smtp.qq.com
      username: 2668113257@qq.com
      password: pvvyzebpkiwkecfb
      default-encoding: UTF-8
#fromMail addr setting
mail:
   fromMail:
      addr: 2668113257@qq.com
#upload.location setting
upload:
   location: \static\tuoFu\img
