<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>组群聊-群聊页</title>
<link href="../css/base.css" rel="stylesheet" type="text/css">
<link href="../css/toefl.css" rel="stylesheet" type="text/css">
</head>

<body>


<div class="doc1180 fn-clear">
	<div class="crumbs_patch">
			<a th:href="|findid?id=${entity.groupType.typeId}&no=0&userId=${userId}|" th:text="${entity.groupType.typeName}"></a>》 <a th:text="${entity.groupName}"></a>》 <span>群聊</span>
		</div>
    <div class="qzl_CyTop">
    	<div class="qzl_CyInfo">
        	<ul>
            	<li class="qzl_CyInfoLeft"><div class="qzl_CyInfoPic"><img src="../i/82x82.png"></div></li>
                <li class="qzl_CyInfoMid">
                	<div class="qzl_CyInfoMain">
                    	<h3 th:text="${entity.groupName}"></h3>
                        <div class="qzl_CyInfoTime" th:text="'建群时间：'+${#dates.format(entity.buildTime,'yyyy-MM-dd HH:mm:ss')}"><span>|</span><b th:text="${entity.members}"></b>人已加入此群</div>
                        <div></div>
                        <div class="qzl_CyInfoWz" th:text="${entity.detail}"></div>
                    </div>
                </li>
                <li class="qzl_CyInfoRight">
                    <a class="qzl_CyInfoBut" th:href="|chat?id=${entity.groupId}&userId=${userId}|">进群 Say Hi</a>
                    <div class="qzl_CyInfoOut">
                        <span>已加入</span>|<a th:href="|delusr?usr=1&groupId=${entity.groupId}&userId=${userId}|">退出该群</a>
                    </div>
                </li>
            </ul>
            <dl class="qzl_CyInfoDl">
            	<dt>群介绍</dt>
                <dd th:text="${entity.detail}"></dd>
            </dl>
            <dl class="qzl_CyInfoDl">
            	<dt>群规则</dt>
                <dd th:text="${entity.rule}"></dd>
            </dl>
        </div>
    </div>
    <div class="qzl_CyTeam">
    	<div class="qzl_CyTeamTitle"><h3>群成员</h3></div>
        <div class="qzl_CyTeamBody">
            <ul class="qzl_CyTeam1200" >
                <li th:each="member:${memberlist}">
                    <div class="qzl_CyTeamPic"><img src="../i/60x60.png"></div>
                    <div class="qzl_CyTeamName" th:text="${member.userName}"></div>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
